.signup_input{
    width: 100%;
}
.signup_select{
    margin-bottom: 20px;   
}
.signup_select .ant-select-selector{
    border-radius: 6px;
 }

.signup_input .ant-input-affix-wrapper {
    width: 100%;
    border-radius: 6px;
    padding: 4px 10px;
}
.signup_input .ant-input {
    width: 100%;
    border-radius: 6px;
    padding: 4px 10px;
}
.signup_input__password{
    width: 100%;
    border-radius: 6px;
    padding: 4px 10px;
}
.signup_space{
    display: flex;
    margin-bottom: 20px;
}