@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    /* width */
    ::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A3E7E4; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #83E1D8; 
  }
  h2{
  @apply text-[18px]
  }

.long{
    height: 100vh;
    margin-top: 50px;
}
.body_content{
  padding: 40px
}
.box-shadow{
    box-shadow: 0px 40px 80px rgba(0, 48, 119, 0.15);
    border-radius: 15px;
}
.navmenu{
 @apply  flex gap-1 items-center text-gray-400
}
.main-content{@apply ml-[200px] pt-[50px]}

.profile_ul li{
  @apply mb-3
}
.card_bg{
 @apply w-full h-full bg-white shadow-sm rounded-2xl p-4
}
th{
  padding: 20px 10px;
  position: sticky;
  top: 0;
  background: #C4B5FD;
}
td{
  padding: 10px 10px;
}
.pagination_style{
  margin: 30px 0 !important;
  text-align: right !important;
  padding-right: 40px !important;
}
.height{
  height: calc(100vh - 50px);
}
.message__body{padding:30px; padding-top:60px; padding-bottom: 50px;}
.message__body li{
  margin-bottom: 16px;
  list-style: none;
  text-align: right;
}

}